table tr{
    display: none;
}
.message_block{
   position: absolute!important; 
   top: 0px;
   display: none;
}
a {
    cursor:pointer;
}
.underline{
    text-decoration: underline;
    color: #08C;
}
