    textarea:active, textarea:hover, textarea:focus {
        box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
    }
    textarea:focus {
        border: 2px solid grey !important;
    }
    table tr{
        display: none;
    }
